:root {
    /* Main variable */
    --main-bg-color: #FAFAFA;
    --main-font-color: #264653;
    --main-title-color: #DE6449;
    --main-font-family: 'Montserrat', sans-serif;

    /* Big title */
    --title-big-font-weight: 100;
    --title-big-letter-spacing: 0.5em;
    --title-big-text-indent: -0.5em;
    --title-big-font-size: 3em;

    /* Medium title */
    --title-medium-font-weight: 600;
    --title-medium-letter-spacing: 0em;
    --title-medium-font-size: 2em;
  }

  body {
      background-color: var(--main-bg-color);
      font-family: var(--main-font-family);
  }
  .main-container {
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  .sub-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-radius: 0.1em;
      margin: 1em;
      padding: 2em;
  }

  .title-big {
      color: var(--main-title-color);
      font-weight: var(--title-big-font-weight);
      letter-spacing: var(--title-big-letter-spacing);
      text-indent: var(--title-big-text-indent);
      font-size: var(--title-big-font-size);
      text-align: center;
      direction:rtl;
  }

  .title-medium {
      color: var(--main-font-color);
      font-weight: var(--title-medium-font-weight);
      letter-spacing: var(--title-medium-letter-spacing);
      font-size: var(--title-medium-font-size);
      padding: unset;
 }

 .shadow {
    box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
                0 2px 4px rgba(0,0,0,0.07), 
                0 4px 8px rgba(0,0,0,0.07), 
                0 8px 16px rgba(0,0,0,0.07),
                0 16px 32px rgba(0,0,0,0.07), 
                0 32px 64px rgba(0,0,0,0.07);
  }

